<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stok</title>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
  <div class="body-cream">
    <div class="header-stok">
      <div class="header-image">
        <img src="img/vespa.svg"/>
      </div>
      <div class="logo-text">DEALERKU</div>
      <div class="label-text">CARI MOTOR FAVORITMU</div>
    </div>
    <div class="body-dashboard">
      <div class="scroll-wraper">
        <div class="row">
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>YAMAHAL</p>
                <p class="text-danger">STOK: 0 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>HONDA</p>
                <p>STOK: 10 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>YAMAHAL</p>
                <p>STOK: 10 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>YAMAHAL</p>
                <p class="text-danger">STOK: 0 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>HONDA</p>
                <p>STOK: 10 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>YAMAHAL</p>
                <p>STOK: 10 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>YAMAHAL</p>
                <p class="text-danger">STOK: 0 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>HONDA</p>
                <p>STOK: 10 </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-item">
              <div class="card-item-image">
                <img src="img/vespa-grey.svg"/>
              </div>
              <div class="card-item-text">
                <p>YAMAHAL</p>
                <p>STOK: 10 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script
      crossorigin="anonymous"
      src="js/bootstrap.js"
    ></script>
</body>
</html>